/* div {
  height: 300px;
  width: 600px;
  background-color: pink;
}

ul {
  background-color: lightblue;
  height: 50px;
  width: 50px;

}

li {
  background-color:aqua;
  height: 100px;
  width: 100px;
  
} */